body{
  margin-top: 0;
  margin-bottom: 0;
}

.head_container{
  display: flex;
  justify-content: center;
}

 #imagebox{
    z-index: 50;
    background-size:cover;
    background-image: url("flowersmaller.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
}


.main_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav{
    top:0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
}
/* a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}
 */

#b{
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  flex-grow: 1;
  width: 100px;
  height: 900px;
  background-color: rgba(46, 78, 239, .2);
  transition: background-color .3s;
  color: rgba(255, 255, 255, .1);
  transition: color .3s;
}

#b:hover{
  background-color: rgba(46, 78, 239, .9);
  color:  rgba(0, 0, 0, 1);
}


#c{
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  flex-grow: 1;
  width: 100px;
  height: 900px;
  background-color: rgba(20, 208, 10, .2);
  transition: background-color .3s;
  color: rgba(255, 255, 255, .1);
  transition: color .3s;
}

#c:hover{
  background-color: rgba(20, 208, 10, .9);
  color:  rgba(0, 0, 0, 1);
}

#d{
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  flex-grow: 1;
  width: 100px;
  height: 900px;
  background-color: rgba(235, 228, 25, .2);
  transition: background-color .3s;
  color: rgba(255, 255, 255, .1);
  transition: color .3s;
}

#d:hover{
  background-color: rgba(235, 228, 25, .9);
  color:  rgba(0, 0, 0, 1);
}

#e{
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  flex-grow: 1;
  width: 100px;
  height: 900px;
  background-color: rgba(248, 10, 6, .2);
  transition: background-color .3s;
  color: rgba(255, 255, 255, .1);
  transition: color .3s;
}

#e:hover{
  background-color: rgba(248, 10, 6, .9);
  color:  rgba(0, 0, 0, 1);

}
